echo ""
echo "You can delete the m4lw4r3 folder that contains the base template you can run using python manage.py runserver"
echo ""

use flake . # this should point at the directory containing flake.nix, not the full path 
